textarea {
  resize: none !important;
}

.radius-border {
  border-radius: 5px;
}

.mainview {
  width: calc(100% - 300px);
  left: 300px;
  background-color: var(--q-bg-primary);
}

.q-notification {
  color: var(--q-text) !important;
  background-color: var(--q-bg-primary);
}

.q-item .q-focus-helper {
    visibility: hidden;
}

@import './list-view';
@import './table-view';
@import './toolbar';
@import './detail-view';
@import './edit-view';
@import './sidebar';
@import './menu';
@import './preference-view';
