.no-select {
  user-select: none;
}

.titlebar {
  height: 50px;
  width: 100%;
}

.radius-border {
  border: solid 0px #00000000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
