.detail-label {
  user-select: none;
  font-size: 10px;
  color: #898989;
  font-weight: 500;
}

.q-field__native {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #565656;
}

.q-field--standout .q-field__control {
  background: none;
}

.q-field__label {
  font-weight: 500;
  color: #333333
}
