.details-p {
  z-index: 999;
  position: absolute;
  top: 55px;
  right: 10px;
  width: 280px;
  height: calc(100% - 65px);
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 5px 8px 2px rgb(0, 0, 0, 0.15);
}

.details-p-animation-enter,
.details-p-animation-leave-to {
  visibility: hidden;
  right: - 150px;
  opacity: 0;
}

.details-p-animation-enter-active,
.details-p-animation-leave-active {
  transition: all 0.3s;
}

.details-close-icon-container {
  z-index: 1000;
  position: absolute;
  color: rgb(220, 220, 220);
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
}

.details-close-icon {
  font-size: 16px !important;
}

.details-close-icon-container :hover {
  color: #898989;
}

.detail-label {
  user-select: none;
  font-size: 10px;
  color: #898989;
  font-weight: 500;
}

.q-field__native {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #565656;
}

.q-field--standout .q-field__control {
  background: none;
}

.q-field__label {
  font-weight: 500;
  color: #333333
}

.q-select .q-chip {
  font-size: 14px;
  margin-top: 0px;
  margin-left: 0;
  color: #666666;
  border-radius: 12px;
  height: 1.5em;
}

.q-select .q-chip__icon {
  color: #AAAAAA
}

.q-select .q-chip__content {
  font-size: 10px;
}

.q-select .q-field__input {
  font-size: 12px;
}

.edit-p {
  z-index: 1000;
  position: absolute;
  top: 55px;
  right: 10px;
  width: 280px;
  height: calc(100% - 120px);
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 5px 8px 2px rgb(0, 0, 0, 0.15);
  padding: 10px 5px 5px 5px;
}

.edit-p-input {
  font-size: 12px;
}

.edit-p-btn {
  position: absolute;
  height: 10%;
  text-align: center;
  bottom: -60px;
  left: 95px;
}
