.detail-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
}

.detail-section-title {
  font-size: 0.8em;
  opacity: 0.5;
  user-select: none;
}

.detail-section-content {
  font-size: 0.8em;
  margin-bottom: 1em;
}
