.edit-view {
  background-color: var(--q-bg-primary);
}
.edit-textfield .q-field__control {
  background-color: var(--q-bg-secondary);
}

.edit-textfield .q-field__label {
  color: var(--q-text-2);
}

.edit-textfield input {
  color: var(--q-text);
}
