.edit-view {
  background-color: var(--q-bg-primary);
}

.edit-view .q-field--outlined ::before {
    border: none !important;
}

.edit-view .q-field--outlined ::after {
    border: none !important;   
}

.edit-textfield .q-field__control {
  background-color: var(--q-bg-secondary);
}

.edit-textfield .q-field__label {
  color: var(--q-text-2);
}

.edit-textfield input {
  color: var(--q-text);
}

.edit-select-field {
  min-width: 40px;
}

.edit-select-field .q-select__dropdown-icon {
    color: var(--q-text-2);
}

.edit-select-field .q-field--outlined ::before {
    border: none !important;
}

.edit-select-field .q-field--outlined ::after {
    border: none !important;   
}

.edit-select-field .q-field__control {
  background-color: var(--q-bg-secondary);
  font-size: 0.8rem;
  color: var(--q-text);
}

.edit-select-field .q-field__label {
  font-size: 0.85rem;
  color: var(--q-text-2);
}

.edit-select-field .q-field__native {
  color: var(--q-text);
}

.edit-select-field input {
  color: var(--q-text-2) !important;
}

.q-menu > .q-virtual-scroll__content > .q-item {
  min-height: 20px;
}

.q-menu
  > .q-virtual-scroll__content
  > .q-item
  > .q-item__section
  > .q-item__label
  > span {
  color: var(--q-text);
}