@import './quasar.variables.scss';

.data-box {
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
}

.list-item {
  background-color: none;
  transition: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
}

.list-item :nth-child(2) :first-child > span {
  color: var(--q-text);
  font-weight: 600;
  font-size: 0.84rem;
  line-height: 1.1rem;
}

.list-item :nth-child(2) :nth-child(2) > span {
  color: var(--q-text);
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 400;
}

.list-item :nth-child(2) :nth-child(3) > span {
  color: var(--q-text-2);
  font-size: 0.7rem;
  line-height: 0.95rem;
  font-weight: 400;
}

.list-item-active {
  background-color: var(--q-accent);
  transition: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
}

.list-item-active :nth-child(2) :first-child > span {
  color: var(--q-text-accent);
  font-weight: 600;
  font-size: 0.84rem;
  line-height: 1.1rem;
}

.list-item-active :nth-child(2) :nth-child(2) > span {
  color: var(--q-text-accent);
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 400;
}

.list-item-active :nth-child(2) :nth-child(3) > span {
  color: var(--q-text-accent-2);
  font-size: 0.7rem;
  line-height: 0.95rem;
  font-weight: 400;
}

.list-item .q-focus-helper {
    visibility: hidden;
}