@import './quasar.variables.scss';

.q-menu {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%) !important;
  border: solid 1px var(--q-secondary);
  background-color: var(--q-menu-bg);
  border-radius: 6px;
  transition: none !important;
}

.menu-list {
  padding: 4px;
}

.menu-list-item {
  color: var(--q-text);
  min-height: 25px !important;
  border-radius: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 0.9em;
  transition: none  !important;
}

.menu-list-item .q-focus-helper {
  transition: none !important;
}

.menu-list hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-item-shortcut {
  color: var(--q-menu-shortcut);
  text-align: right;
}

