.preference-view {
  width: 800px;
  min-height: 450px;
  background-color: var(--q-bg-primary) !important;
  color: var(--q-text) !important;
}

.preference-view .scroll {
    overflow: hidden;
}

.preference-view input {
  color: var(--q-text) !important;
}

.preference-view hr {
  background-color: var(--q-divider) !important;
}

.preference-tab {
  background-color: var(--q-bg-primary) !important;
}
.preference-view .q-tab-panels {
  background: var(--q-bg-primary) !important;
}

.preference-view .q-checkbox__inner {
  color: var(--q-accent) !important;
}

.setting-title {
  text-align: right;
  font-size: 0.8em;
  padding-right: 10px;
}

.setting-content {
  text-align: left;
  font-size: 0.8em;
}

.preference-input {
  padding-left: 5px;
  border: 1px solid var(--q-divider);
  overflow: hidden;
  text-overflow: ellipsis;
}

.q-tab__icon {
  font-size: 1.4em;
}
.q-tab__label {
  font-size: 0.8em;
}

.setting-content input {
  max-height: 22px;
  font-size: 0.8em;
}
