.right-p {
  width: calc(100% - 300px);
  left: 300px;
}

.right-titlebar {
  height: 50px;
  width: 100%;
  background-color: #F1F1F1;
}

.search-input {
  margin-left: 10px;
  font-size: 14px;
  width: 250px;
}

.drag-box {
  width: calc(100% - 250px);
  height: 100%
}

// Data Table

.table-box {
  margin-left: 10px;
  margin-right: 10px;
  height: calc(100% - 50px);
}

#data-table {
  width: 100%;
  height: calc(100% - 20px);
  overflow: hidden;
  font-size: 12px;
  color: #454545 !important;
}

.table-box .handsontable th {
  text-align: left !important;
  background: white !important;
  padding-left: 6px !important;
  padding-right: 5px !important;
  font-weight: bold !important;
  color: #454545 !important;
  border: none !important;
}

.table-box .handsontable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.table-box tr td:first-child {
  border: solid 0px #00000000 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.table-box tr td:last-child {
  border: solid 0px #00000000 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important
}

.table-box .ht_master tr {
  border-right: 1px solid #F00;
}

.table-box .handsontable td {
  border: none !important;
}

.table-box .htCore>tbody>tr:nth-child(odd)>td {
  background-color: #ffffff;
}

.table-box .htCore>tbody>tr:nth-child(even)>td {
  background-color: #f1f3f2;
}


.table-box .htBorders {
  display: none !important;
}

.table-box .handsontable .htDimmed {
  color: #454545 !important;
}

.table-box .handsontable .manualColumnResizerGuide {
  top: 3px !important;
  background-color: #f1f3f2 !important;
  height: 19px !important;
}

.table-box .handsontable .manualColumnResizer {
  top: 3px !important;
  width: 2px !important;
  height: 19px !important;
}

.htContextMenu * {
  background: transparent !important;
}

.htContextMenu .htCore {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1) !important;
  background: #EFEFEF !important;
  border: solid 1px #00000011 !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-size: 12px;
}

.htContextMenu table tbody tr td .htItemWrapper:hover {
  background: rgb(66, 162, 255) !important;
  color: white
}

.htContextMenu table tbody tr td .htItemWrapper {
  height: 24px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 2px 10px 0 10px !important;
  padding-right: 0px !important;
  border: solid 0px #00000011 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important
}
