.setting-title {
  text-align: right;
  font-size: 0.8em;
  padding-right: 10px;
}

.setting-content {
  text-align: left;
  font-size: 0.8em;
}

.q-tab__icon {
  font-size: 1.4em;
}
.q-tab__label {
  font-size: 0.8em;
}

.setting-content input {
  max-height: 22px;
  font-size: 0.8em;
}
