@import './quasar.variables.scss';

.sidebar {
  width: 300px;
  height: 100%;
  user-select: none;
}

.sidebar-list {
  height: calc(100% - 50px);
  overflow: auto;
}

.sidebar-list::-webkit-scrollbar {
  display: none;
}

.sidebar-list .q-item {
  display: flex;
  align-items: center;
  min-height: 28px !important;
  border-radius: 5px;
}

.sidebar-list-title {
  font-size: 0.8em !important;
  padding-left: 2px !important;
  color: var(--q-text-2);
  font-weight: 600;
}

.sidebar-list-item {
  font-size: 0.9em;
  padding-left: 10px !important;
}

.sidebar-list-text {
  color: var(--q-text);
}

.sidebar-list-item-active {
  color: var(--q-text);
  background-color: var(--q-accent-2);
}

.sidebar-list-icon {
  font-size: 0.9rem !important;
  color: var(--q-icon-1);
}

.sidebar-list-badge {
  color: var(--q-text);
  background-color: var(--q-badge-1);
  font-size: 0.8em;
  margin-top: 6px;
  margin-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.sidebar-list .q-focus-helper {
    visibility: hidden;
}