@import './quasar.variables.scss';

.data-table {
  max-width: 100% !important;
}

.data-table .q-table {
  width: calc(100% - 10px);
}

.mainview .q-table__card {
  color: var(--q-text) !important;
  background-color: var(--q-bg-primary) !important;
}

.data-table thead {
  background-color: var(--q-bg-primary) !important;
}

.data-table td {
  font-size: 0.85em !important;
}

tr:nth-child(even) {
  background-color: var(--q-bg-table-even) !important;
}

thead tr th {
  position: sticky !important;
  z-index: 1 !important;
}

thead tr:first-child th {
  top: 0;
}

tr td:first-child {
  border: solid 0px #ffffff !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

tr td:last-child {
  border: solid 0px #ffffff !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.ellipsis-cell {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.table-row-active {
  background-color: var(--q-accent) !important;
  color: var(--q-text-accent) !important;
}
