@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .draggable-title {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  .nodraggable-item {
    -webkit-app-region: no-drag;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .text-xxxs{
    font-size: 0.55rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
  .text-xxs{
    font-size: 0.65rem; /* 12px */
    line-height: 1rem; /* 16px */
  }

  .translate-x-5\.5 {
    --tw-translate-x: 1.375rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .tooltip {
    @apply invisible absolute;
    font-size: 0.65rem; /* 12px */
    line-height: 1rem; /* 16px */
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
    transition-delay: 1.5s;
  }

}

.splitpanes--vertical > .splitpanes__splitter {
  min-width: 2px !important;
}

#detail-markdown-preview h1 {
    font-size: 0.9rem;
    font-weight: 700;
    display: block !important;
    margin: 0.5rem 0;
}

#detail-markdown-preview h2 {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0.3rem 0;
}

#detail-markdown-preview h3 {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.2rem 0;
}

#detail-markdown-preview h4, h5, h6 {
    font-size: 0.75rem; 
    font-weight: 500;
}

#detail-markdown-preview blockquote {
    border-left: 1px solid #ccc;
    padding-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#detail-markdown-preview ul {
    padding-left: 20px;
    list-style-type: square;
}

#detail-markdown-preview ol {
    padding-left: 20px;
    list-style-type: decimal;
}

#detail-markdown-preview p, ul, ol {
    line-height: 1.5em;
}

#detail-markdown-preview pre {
    padding: 8px 16px;
    white-space: pre-wrap;
    background-color: rgb(229 229 229);
    border-radius: 0.5em;
}

@media (prefers-color-scheme: dark) {
#detail-markdown-preview pre {
    background-color: rgb(64, 64,64);
}}

#detail-markdown-preview code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5em;
}

#detail-markdown-preview pre code {
    font-size: 0.9em;
}

#detail-markdown-preview a {
  text-decoration: underline;
}